* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDDAD5;
}

nav {
    width: 100%;
    height: 15vh;
    background-color: #B9C6BC;
    padding-left: 30px;
    padding-right: 70px;    
}

.logo {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item a {
    display: inline-block;
    padding: 7.5vh 15px;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: #DDDAD5;
    transition: 0.3s;
    z-index: 10;
}

.logo img {
    width: 175px;
    vertical-align: middle;
}

.wrapper {
    margin: auto;
    width: 70%;
}

/*Swiper config*/

.swiper-container {
    width: 100%;
    height: 60vh;
    box-shadow: 5px 5px 10px #888888;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: white;
}

/*Second section flex*/

.center-h2 {
    margin-top: 6rem;
    text-align: center;
}

.center-p {
    text-align: center;
    width: 50%;
    margin: 1.5rem auto;
    line-height: 1.5rem;
}

.highlight {
    background-color: #B9C6BC;
    padding: 1rem 0;
}

.highlight:hover {
    background-color: #EEEFEA;
    transition: 0.3s;
}

.highlight a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 20vh auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1;
    text-align: center;
}

.flex-child .top-p {
    padding-top: 2rem;
}

.flex-child:first-child {
    margin-right: 7rem;
}

.flex-child img {
    width: 240px;
    border-radius: 45%;
    box-shadow: 5px 5px 10px #888888;
}

.flex-child img:hover:not(.info-pic) {
    opacity: 0.5;
}

.flex-child h2, .flex-child h3 {
    padding-bottom: 1.5rem;
}

/*Footer*/

footer {
    width: 100%;
    height: 20vh;
    background-color: #B9C6BC;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
}

.footer-links {
    display: flex;
    list-style: none;
}

.footer-item a {
    display: inline-block;
    padding: 2rem 1rem;
    text-decoration: none;
    color: black;
}

footer img {
    width: 30px;
}

footer img:hover {
    opacity: 0.2;
}

/*Yhteystiedot sivun CSS*/

iframe {
    box-shadow: 5px 5px 10px #888888;
}

.contact-info {
    text-align: left;
    line-height: 2rem;
    list-style: none;
}

/*Tuotteet sivun CSS*/

.product-container {
    margin: 15vh auto;
    width: 50%;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #DDDAD5;
}

.fixed-header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 4rem;
}

.fixed-header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    background-color: #EEEFEA;    
}

.fixed-header thead tr {
    display: block;
    width: 100%;
}

.fixed-header th, .fixed-header td {
    width: 200px;
    padding: 10px;
    text-align: left;
}

table > thead > tr > th {
    cursor: pointer;
}

table a {
    text-decoration: none;
    color: black;
}

table a:hover {
    color: #B9C6BC;
}

td:last-child, th:last-child {
    text-align: center;
}

/*Tuote info sivu*/

.back-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 1.2rem;
    text-decoration: none;
    color: black;
    background-color: #B9C6BC;
}

.back-btn:hover {
    background-color: #EEEFEA;
    transition: 0.3s;
}

/*Video sivu*/

.container-video {
    margin: 5vh auto;
    width: 50%;
    text-align: center;
}

/*Media Queryt*/

@media screen and (max-width: 666px) {
    nav {
        height: 12rem;
        text-align: center;
    }

    .nav-links {
        justify-content: center;
    }


    .navbar {
        display: block;
        padding: 0;
    }

    .flex-child:last-child {
        padding-top: 2rem;
    }

    iframe {
        width: 70vw;
    }

    .product-container {
        margin: 15vh 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    footer nav {
        height: 15vh;
    }

    footer img {
        width: 20px;
    }

    .some:last-child {
        margin-left: 3rem;
    }
    
    .container {
        margin: 20vh auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        margin-top: 2rem;
    }

    .container-video {
        width: 100%;
    }
}



@media screen and (max-width: 920px) {
    .flex-child:first-child {
        margin-right: 0;
    }
    .flex-child:last-child {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1310px) {
    .flex-child:last-child {
        padding-top: 2rem;
    }
}